# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
venv/
ENV/

# Data files (to avoid pushing large datasets)
*.csv
*.tsv
*.xls
*.xlsx
*.zip
*.gz

# System files
.DS_Store
Thumbs.db

# Reports and documents
*.pdf
*.docx
